.wrapper{
  display: flex;
}

.side{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.side-top{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}
.btn a{
  color: deepskyblue;
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}
.side-main{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.rooms{
  padding: 20px 0 40px;
}
.room-name a{
  color: white;
  text-decoration: none;
}

.main{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}
.main-top{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.chat-left{
  padding-top: 36px;
}
.chat-name{
  color: #333;
  font-size: 24px;
  text-decoration: none;
}
.chat-right{
  padding-top: 40px;
}
.chat-btn a{
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}
.messages{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}
.message-top{
  padding: 10px 0;
  display: flex;
}
.user{
  color: #434A54;
  font-size: 16px;
}
.date{
  color: #999;
  font-size: 12px;
  margin-left: 10px;
}
.message-down{
  padding-bottom: 40px;
}
.content{
  color: #434A54;
  font-size: 14px;
}
.form{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}
.form-input{
  background-color: white;
  width: 100%;
  display: flex;
}
.form-message{
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border: none;
}
.submit{
  color: white;
  background-color: #38AEF0;
  font-size: 16px;
  padding: 0 20px;
  margin-left: 15px;
  height: 50px;
  border: none;
}
.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden{
  display: none;
}